body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: navy;
    background-color: mistyrose;

}


li{
    font-size: 17px;
    font-style: normal;
}



ul{
    font-size: 17px;
}
a {
    color:darkcyan;
    text-align: center;
}

.bold{
    font-weight: lighter;
}

#list1 {
    height: 40px;
    background-color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: black;
    text-align: center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#list2{
    background-color: darkgrey;
    text-align: center;
    color: white;
}

ul {
    font-size: 10px;
}

#list3
{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
color: rgb(6, 20, 20);
}